body {
  width: 100svw;
  min-height: 100svh;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #F8F9FA;
  box-shadow: 0 0px 5px #025159;
  color: #3A2318;
  height: 10svh;
}
nav .nav__logo {
  height: 44px;
  display: flex;
  align-items: center;
}
nav .nav__logo img {
  height: 36px;
  width: auto;
}
nav .nav__list {
  display: none;
}
nav .nav__button {
  all: unset;
  cursor: pointer;
}
nav .nav__button--open {
  display: none;
}

aside {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-between;
  min-height: 82svh;
}

.main__hero {
  text-align: center;
  padding: 1rem 2rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}
.main__hero .hero__title {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #025159;
  line-height: 2rem;
}
.main__hero .hero__subtitle {
  font-family: "Dancing Script", cursive;
  font-size: 1.25rem;
  font-weight: 400;
  color: #3A2318;
  text-transform: uppercase;
}
.main__hero .hero__button {
  all: unset;
  cursor: pointer;
  padding: 0.25rem 1.5rem;
  background-color: #B05D43;
  color: #FFFFFF;
  border-radius: 5rem;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
}

.main__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main__logo .main__logo-img {
  margin-inline: auto;
  position: absolute;
  transform: translateY(20%);
}
.main__logo .main__logo-img img {
  margin-inline: auto;
  width: clamp(120px, 50vw, 240px);
}

.main__products {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-inline: 2rem;
  gap: 1rem;
  background: radial-gradient(circle at center bottom, #3E848C -20%, #025159 20%);
  border-radius: 4rem 4rem 0 0;
  justify-content: center;
  box-shadow: 0px 0px 5px black;
}
.main__products .product {
  margin-inline: auto;
  width: clamp(150px, 30vw, 240px);
  aspect-ratio: 1/1;
  overflow: hidden;
  background: radial-gradient(circle at center, #FFFFFF 0%, #C4EEF2 100%);
  border-radius: 1rem;
  box-shadow: 0px 0px 5px black;
}
.main__products .product img {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  min-height: 8svh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer__text {
  margin: auto;
}
footer .footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 800;
}

@media (min-width: 360px) {
  .main__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero logo" "products products";
    align-items: center;
  }
  .main__hero {
    text-align: left;
    grid-area: hero;
  }
  .main__hero .hero__title {
    font-size: 2.5rem;
  }
  .main__hero .hero__subtitle {
    font-size: 1.25rem;
  }
  .main__logo {
    grid-area: logo;
  }
  .main__logo .main__logo-img {
    position: static;
    transform: translateY(0%);
  }
  .main__logo .main__logo-img img {
    width: clamp(200px, 50vw, 320px);
  }
  .main__products {
    display: grid;
    grid-area: products;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 3rem;
    align-self: end;
    margin: 0;
  }
  .main__products .product {
    width: clamp(150px, 30vw, 200px);
  }
  .main__products .product--virgen {
    display: none;
  }
}
@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr minmax(560px, 40vw);
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header aside" "hero aside" "products aside" "footer footer";
  }
  .nav {
    grid-area: header;
    background-color: #FFFFFF;
    box-shadow: none;
  }
  .nav .nav__list {
    display: flex;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    text-align: center;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    padding-inline: 1rem;
  }
  .nav .nav__list .nav__item {
    list-style: none;
    transform: scale(1);
    transition: transform 0.5s ease-out;
  }
  .nav .nav__list .nav__item .nav__link {
    text-decoration: none;
    color: #3A2318;
  }
  .nav .nav__list .nav__item:hover {
    transform: scale(1.025);
    transition: transform 0.3s ease-in;
  }
  .nav .nav__button {
    display: none;
  }
  .nav {
    animation: 2s navSlideIn 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  @keyframes navSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    20%, 100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .main {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main__hero {
    grid-area: hero;
    width: 80%;
    margin: auto;
    line-height: 4rem;
  }
  .main__hero .hero__title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .main__hero .hero__subtitle {
    font-size: 2rem;
  }
  .main__hero .hero__button {
    transform: scale(1);
    transition: transform 0.5s ease-in;
  }
  .main__hero .hero__button:hover {
    transform: scale(1.025);
    transition: transform 0.3s ease-in;
  }
  .main__hero {
    animation: 2s HeroSlideIn 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  @keyframes HeroSlideIn {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    20%, 100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .main__logo {
    display: none;
  }
  .aside {
    min-height: 85vh;
    grid-area: aside;
    display: block;
    z-index: -1;
    position: relative;
    overflow: hidden;
  }
  .aside .aside__logo-img {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #025159;
    border-radius: 0 0 0 10rem;
    z-index: 3;
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
  }
  .aside .aside__logo-img img {
    width: clamp(300px, 30vw, 450px);
    aspect-ratio: 1/1;
    animation: 2s imgLogoAnimation 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .aside .aside__logo-img {
    animation: 2s logoSlideIn 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  @keyframes logoSlideIn {
    60% {
      opacity: 0;
      transform: translate(100%, -100%);
    }
    80%, 100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes imgLogoAnimation {
    80% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .aside .rectangle {
    z-index: 2;
    background-color: #3E848C;
    width: 15vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: 2s rectangleSlideIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes rectangleSlideIn {
    20% {
      opacity: 0;
      transform: translateX(100%);
    }
    40%, 100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .aside .circle {
    z-index: 1;
    background-color: #025159;
    aspect-ratio: 1/1;
    border-radius: 100% 0 0 0;
    width: 20vh;
    position: absolute;
    bottom: 0;
    right: 15vw;
    animation: 2s circleSlideIn 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  @keyframes circleSlideIn {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
      transform: translate(1000%, 100%);
    }
    60%, 100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  .main__products {
    grid-area: products;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    animation: 2s productsSlideIn 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .main__products .product {
    overflow: visible;
    cursor: pointer;
  }
  .main__products .product img {
    transform: translateY(0) scale(1);
    transition: transform 0.5s ease-out;
  }
  .main__products .product:hover img {
    transform: translateY(-20px) scale(1.1);
    transition: transform 0.3s ease-in;
  }
  .main__products .product--charmander {
    animation: 2s product_01_In 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .main__products .product--virgen {
    display: flex;
    animation: 2s product_02_In 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .main__products .product--munheca {
    display: flex;
    animation: 2s product_03_In 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .main__products .product--ramo {
    display: flex;
    animation: 2s product_04_In 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  @keyframes productsSlideIn {
    0% {
      opacity: 0;
      transform: translate(-50%, 50%);
    }
    20%, 100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes product_01_In {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
      transform: translate(-30%, 30%);
    }
    40%, 100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes product_02_In {
    0% {
      opacity: 0;
      transform: translate(-30%, 30%);
    }
    40% {
      opacity: 0;
      transform: translate(-30%, 30%);
    }
    60%, 100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes product_03_In {
    0% {
      opacity: 0;
      transform: translate(-30%, 30%);
    }
    60% {
      opacity: 0;
      transform: translate(-30%, 30%);
    }
    80%, 100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes product_04_In {
    0% {
      opacity: 0;
      transform: translate(-30%, 30%);
    }
    80% {
      opacity: 0;
      transform: translate(-30%, 30%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  .footer {
    min-height: 5svh;
    height: auto;
    grid-area: footer;
    z-index: 10;
    animation: 2s footerSlideIn 0.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  @keyframes footerSlideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    20%, 100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}/*# sourceMappingURL=main.css.map */